.servico{
    margin-top: 30px;
    background:#D8AD75;
    padding: 5px ;
    height: 200px;
    border-radius: 10px;
    box-shadow: 3px 3px 12px gray;
}
.menu1{
    background: white;
    height: 150px;
    padding: 10px;


}
.tabela{
    margin-top: 50px;;
}